{% extends "base_old.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

<div id="subheader" class="blogstyle">
		<div>
			 Birds
		</div>
</div>
<div class="hr">
</div>

    <div>Template by WowThemes.net</div>

    <li>
        <a class="readmore" href="https://blog.feedspot.com/bird_blogs">Top 90 Bird Blogs and Websites in 2021 For Ornithologists and Bird Lovers</a>
     </li>
   <li>
           <a class="readmore" href="https://web.stanford.edu/~kendric/birds/AllAboutBirds.html">All About Birds</a>
    </li>

{% endblock %}

