<div class="container" id="edit-bird-modal" style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.8); z-index: 1000; display: none">
<span onclick="document.getElementById('edit-bird-modal').style.display='none'" class="closeModal" title="Close" style="position: fixed; top: 65px; right: 65px">X</span>

<form method="post" class="box" id="edit-bird" style="margin-top: 185px; width: 260px">
 {% if message  %}
 <div style="align-items: center; color:darkblue; font-size: 16px" class="message_edit" id="message_edit">
  {{ message }}
 </div>
   {% endif %}
         <h5>Edit Bird Details</h5>
           {% for field in edit_bird_form %}
                    {{ field.label_tag }}
                       {{ field }}
           {%  endfor %}
  <input type="hidden" name="next" value="{{bird.id}}" id="edit_id">
  <input type="submit" name="edit" value="Update">

  </form>
</div>

<script>
    function close_edit_modal() {
        document.getElementById('edit-bird-modal').style.display='none'
         var message_edit = document.getElementById('message_edit')
         setTimeout(function() {message_edit.remove()}, 100);
    }

</script>

