{% extends "base_old.html" %}
{% load static %}
{% block content %}

<style>

/*body {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    font-family: DroidSansRegular, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;*/
/*         background: url("../static/img/home/Buhli_1400x500-1400x500.jpg") no-repeat center center fixed;*/
/*      -webkit-background-size: cover;*/
/*      -moz-background-size: cover;*/
/*      -o-background-size: cover;*/
/*      background-size: cover;*/
/*}*/

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}
/* Create four equal columns 25% that sits next to each other */
/* Create three equal columns 33% that sits next to each other */
.column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 4px 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.img_wrapper:hover .overlay {
  opacity: 1;
}
.teambox:hover img {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -o-transform: scale(2);
    -ms-transform: scale(1.4);
    transform: scale(1.6);
}

</style>

<div id="subheader">
	<div class="row">
		<div class="twelve columns">
			<p class="left">
				 Birds
			</p>
		</div>
	</div>
</div>
<div class="hr">
</div>

<!-- Photo Grid -->
 <div class="row">
  <div class="column">
    {% for bird in birds|slice:"0:10" %}
          {% if bird.photo  %}
      <a href="{{ bird.absolute_url  }}">
        <img class="zoom" src="../static/img/{{ bird.photo }}" style="width:100%;cursor: pointer">
      </a>
          {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    {% for bird in birds|slice:"10:20" %}
          {% if bird.photo  %}
      <a href="{{ bird.absolute_url  }}">
        <img class="zoom" src="../static/img/{{ bird.photo }}" style="width:100%;cursor: pointer">
      </a>
          {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    {% for bird in birds|slice:"20:30" %}
          {% if bird.photo  %}
      <a href="{{ bird.absolute_url  }}">
        <img class="zoom" src="../static/img/{{ bird.photo }}" style="width:100%;cursor: pointer">
      </a>
          {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    {% for bird in birds|slice:"30:40" %}
          {% if bird.photo  %}
      <a href="{{ bird.absolute_url  }}">
        <img class="zoom" src="../static/img/{{ bird.photo }}" style="width:100%;cursor: pointer">
      </a>
          {% endif %}
      {% endfor %}
  </div>
  <div class="column">
    {% for bird in birds|slice:"40:" %}
      <div class="teamwrap teambox">
      <div class="img_wrapper">
	        <a href="{{ bird.absolute_url }}">
               <img class="zoom" src="../static/img/{{ bird.photo }}" alt="{{ bird.bird_name }}">
            </a>
              <blockquote class="overlay" style="color: #8ed3e7">{{ bird.bird_name }}
               <i class="fa fa-thumbs-up" data-id="{{ bird.id }}" style="cursor: pointer; color: #8ed3e7;font-size: 24px"></i>
              </blockquote>
      </div>
      {% endfor %}
  </div>
<hr>




{% endblock %}
